@{
    ViewData["Title"] = "Acces was denied";
}


<div class="d-flex justify-content-center ">
    <div class="container mt-5">
        <h1>@ViewData["Title"]</h1>
        <p>You dont have acces to this page</p>
    </div>
</div>

