@{
    var showcase = showcaseService.GetLatest();
}

@if(showcase != null)
{
    <section class="showcase">
        <div class="container">
            <div class="content">
                <div class="ingress">@showcase?.Ingress</div>
                <div class="title">@showcase?.Title</div>

                @if (!string.IsNullOrEmpty(showcase?.LinkUrl) && !string.IsNullOrEmpty(showcase?.LinkContent))
                {
                    <a href="@showcase?.LinkUrl" class="btn-theme">@showcase?.LinkContent</a>
                }


            </div>
            <div class="content-image">
                <img src="@showcase?.ImageUrl" alt="@showcase?.Title">
            </div>
        </div>
    </section>
}
